* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  
}

body {
  background-color: #F3F5FC;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}


.contenedor-logo {
  width: 4rem;
  height: 4.5rem;
  margin-top: 2.5em;
  margin-left: 2em;
}

.logo {
  width: 7.5rem;
  height: 3.5rem;
}

.contenedor-texto {
  width: 65em;
  height: 40em;
  margin-left: 20em;
  margin-right: auto;
  margin-top: 4em;

}

.texto {
  font-size: 2em;
  text-align: justify;
  color: #0A3871;
  width: 30em;
  min-height: 3rem;
  overflow: hidden;
  display: -webkit-box;
  /* Establecer la visualización como caja flexible de tipo bloque */
  -webkit-box-orient: vertical;
  /* Establecer la orientación vertical de la caja flexible */
  -webkit-line-clamp: 13;
  /* Establecer el número máximo de líneas visibles */
  

}

.texto:empty::before {
  position: absolute;
  content: "Ingrese el texto aquí";
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  cursor: text;

}

.texto:focus {
  outline: none;
}



.contenedor-area-output {
  position: relative;
  margin-top: 1em;
  margin-left: 2em;
  width: 36em;
  height: 70em;
  left: 95em;
  bottom: 50em;
  background-color: #fff;
  padding-top: 9em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 10px;

}

.contenedor-imagen-output {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  /*display: none;*/
}

.muñeco {
  width: 30em;
  margin-bottom: 3em;
}

.contenedor-mensaje-no-encontrado {

  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: none;*/

}

.mensaje-no-encontrado {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
  color: #343A40;

}

.contenedor-mensaje-ingresa-texto {
  margin-top: 1.5em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  /*display: none;*/

}

.mensaje-ingresa-texto {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #495057;

}


.contenedor-texto-encriptado {
  position: absolute;
  top: 5em;
  width: 30em;
  max-height: 40em;
  
  /*display: none;*/
}

.texto-encriptado {
  color: #495057;
  font-size: 1.8em;
  border: 0px;
  overflow: hidden;
  display: -webkit-box;
  /* Establecer la visualización como caja flexible de tipo bloque */
  -webkit-box-orient: vertical;
  /* Establecer la orientación vertical de la caja flexible */
  -webkit-line-clamp: 18;
  /* Establecer el número máximo de líneas visibles */

}


.contenedor-area-bottom {
  position: relative;
  width: 75em;
  height: 13em;
  bottom: 70em;
  left: 10em;

}

.contenedor-aviso {
  margin-left: 5em;
  display: flex;
  padding-left: 5.5em;
}

.imagen-aviso {
  width: 1.6em;
  height: 1.6em;
}

.aviso {
  margin-left: .8em;
  font-size: 1.4em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #343A40;
  opacity: 0.7;
}

.contenedor-botones {
  height: 10em;
  width: 70em;
  margin-left: 8em;
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-boton-copiar {
  position: absolute;
  top: 54.5em;
  right: 1.2em;
  width: fit-content;
  display: none;

}

.botones {
  width: 21em;
  height: 5em;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6em;
  cursor: pointer;
}

#botonCopiar {
  background-color: #fff;
}

.botones:first-child {
  background-color: #0A3871;
  color: #F3F5FC;
  border: none;
}

.botones:last-child {
  background-color: #D8DFE8;
  border: 1px solid #0A3871;
  color: #0A3871;
}


/*TABLET*/

@media screen and (min-width: 376px) AND (max-width:768px){
  body{
    height: auto;
    padding-bottom: 0;
  }

  .div-principal{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: stretch;
  }

  .contenedor-logo{
    margin-left: 2em;
    margin-bottom: 5em;
    
  }
  .contenedor-texto{
    
    margin-left: 5em;
  }

  .contenedor-area-bottom{
    
    position: relative;
    bottom: 1em;
    width: 65em;
    left: 5em;
    padding: 0 2em 0 0;
    order: 1;
  }

  .contenedor-aviso{
    
    padding-left: 0em;
    width: auto;
    left:0;
    margin: 0;
  }

  .contenedor-botones{
   
    margin-left: 0em;
  }

  .contenedor-area-output{
    order: 2;
    background-color: #fff;
    position:relative;
    left: 0;
    bottom: 0;
    height:auto;
    width: auto;
    padding: 3em 1em;
    margin: 5em 2.5em;
    margin-left: 4em;
    
  }

  .contenedor-imagen-output{
    display: none;
  }

  .contenedor-mensaje-no-encontrado {
    height:auto;
    width: 100%;
    /*display: none;*/
  }

  /*.contenedor-mensaje-ingresa-texto{
    display: none;
  }*/

  

  .contenedor-texto-encriptado{
    position:absolute;
    background-color: rgb(255, 255, 255);
    width: 70.5em;
    top:10px;
    padding: 3em 2em 3em 2em;
    display: none;
    left:0;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .texto-encriptado{
    text-align: justify;
  }
  
  
  .contenedor-boton-copiar{
    position:relative;
    margin-bottom: 20em;
    background-color: cadetblue;
    width: 70.5em;
    top: 20em;
    margin-top: 10em;
    height: auto;
    left: .3em;
    display: none;

  }

  #botonCopiar{
    width: 100%;
    
  }
}

/*CELULAR*/

@media screen AND (max-width:375px){
  
 

  .div-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 370px;
  }

  .contenedor-logo{
    width:fit-content;
    height:fit-content;
    
    padding: 0;
    margin-left: -2.5em;
  }

  .logo{
    width: 100%;
    height: 50%;
    
  }

  .contenedor-texto{
    
    margin-left: 2em;
    width: 370px;
  }

  .texto{
    
    width: auto;
    font-size: 3em;
    overflow: hidden;
    display: -webkit-box;
  /* Establecer la visualización como caja flexible de tipo bloque */
  -webkit-box-orient: vertical;
  /* Establecer la orientación vertical de la caja flexible */
  -webkit-line-clamp: 5;
  /* Establecer el número máximo de líneas visibles */
  }

  .contenedor-area-bottom{
   
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 1em;
    position: relative;
    left:0;
    order:11;
    bottom:0;
    margin-top: 2em;
  }

  .contenedor-aviso{
    
    margin-left: 1em;
    width: fit-content;
    padding-left: 0;
  }

  .imagen-aviso{
    width: 1.1em;
    margin-left: 0;
  }

  .aviso{
    font-size: 1.5em;
  }

  .contenedor-botones{
    
    display: flex;
    flex-direction: column;
    width: 374px;
    justify-content: space-between;
    margin-left: 0;
    height: max-content;
    padding-left: 0em;
    padding-top: 1em;
    bottom: 0;
  }

  .botones{
    width: 100%;
    margin-bottom: 1em;
    margin-left: 0;
  }

  .contenedor-imagen-output{
    display: none;
  }

  .contenedor-area-output{
    position:relative;
    left:0;
    bottom: 0;
    height: auto;
    order:20;
    padding:4em;
    margin-top: 9em;
    border-radius: 20px;
    
  }

  /*.contenedor-mensaje-no-encontrado{
    display: none;
    
    
  }

  .contenedor-mensaje-ingresa-texto{
    /*display: none;
  }*/

  .contenedor-texto-encriptado{
    position: absolute;
   
    top: 0;
    left: 1;
    margin-top: 10px;
    margin-left:1px;
    margin-right: 0;
    width: 35.5em;
  }

  .contenedor-boton-copiar{
    position: relative;
    top: 4em;
    display: none;
    width: fit-content;
    left: 0em;
    right: 0;
    margin-top: 10em;
    margin-left: 0em;
  }

  #botonCopiar{
    width: 20em;
    left: 0;
  }
}